<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/authenticate" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password">
    <button id="submitLogin" type="button" onclick="loginFunction()">Login</button>

</form>

<script type="text/javascript" src="login.js"></script>
</body>
</html>