body {
    margin: 0;
    padding: 15px;
    background-color: aliceblue;
    font-family: "DejaVu Sans"
}

main {
    margin: 15px auto;
    background-color: white;
    padding: 25px 35px;
}

nav {
    padding: 10px 0;
}

nav a {
    border: 2px solid #611212;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 0;
    margin-right: 5px;
    background-color: #611212;
    color: white;
}

.userButton {
    float: right;
    margin-top: 0;
}

h1 {
    color: firebrick;
}

#postTable {
    width: 100%;
    margin: 15px auto;
}

table tr td {
padding: 7px 20px;
}

.postTitle td{
    width: 50%;
}

.date span {
float: left}

.voting {
    width: 10%;
}
#smallTable {
    width: 100%;
    border: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #611212;
}

#paging {
    margin: 20px auto;
}

#paging td a{
    text-decoration: underline;
    text-underline: #611212;
    margin: 0;
    border: none;
    padding: 5px 10px;
}

#paging td span span{
    text-underline: none;
    font-weight: bold;
    color: black;
}