body {
    padding: 0 5% 0 5%;
    background-color: beige;
    color: midnightblue;
    font-family: Helvetica, Arial, sans-serif;
}

h1, hr, h1 a, h1 a:visited, h1 a:hover  {
    color: midnightblue;
    text-decoration: none;
}

nav button {
    padding: 6px 12px 3px 12px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: 1px solid darkblue;
    border-radius: 4px;
    margin: 3px 6px;
    font-weight: bold;
    color: midnightblue;
    background-color: #ff6400;
}

main button {
    padding: 6px 12px 3px 12px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid darkblue;
    border-radius: 4px;
    margin: 3px auto;
    color: midnightblue;

}

#searchword, #searchButton {
    margin: 5px 5px 20px 0;
    padding: 5px 10px;
}


#changeCurrency {
    float: right;
}

th {
    background-color: darkorange;
    color: midnightblue;
    text-align: center;
    border: 1px solid beige;
}

table {
    width: 100%;
    margin-top: 30px;
    border: 0;
}

td, th {
    padding: 6px 3px;
}



#name {
    width: 20%;
}

#description {
    width: 50%;
}

#price, #quantityOfStock  {
    width: 15%;
    text-align: right;
}

#name-h {
    width: 20%;
}

#description-h {
    width: 50%;
}

#price-h, #quantityOfStock-h  {
    width: 15%;
    text-align: center;
}

