<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="flex-container">
            <a class="newPostButton" th:if="${user}" th:href="'/reddit/new-post?user=' + ${user}">Submit new post</a>
            <a class="userButton" th:href="${user} ? '/reddit/logout?user=' + ${user} : '/reddit/login'"><span th:text="${user} ? 'Logout' : 'Login'"/></a>
            <a class="userButton" href="/reddit/sign-up">Sign Up</a>
    </nav>

<main>
<h1>Trending posts</h1>

<table id="postTable">
    <tr th:each="post : ${postList}">
        <td class="voting">
            <table id="smallTable">
                <tr>
                <td><a th:href="'/reddit/upvote/' + ${post.id} + '?page=' + ${currentPageNumber} + '&user=' + ${user}">+</a></td>
                <td th:text="${post.voteCount}"/>
                <td><a th:href="'/reddit/downvote/' + ${post.id} + '?page=' + ${currentPageNumber} + '&user=' + ${user}">-</a></td>
                </tr>
            </table>
        </td>
        <td><a class="postTitle" th:href="${user} ? '/reddit/read-post/' + ${post.id} + '?user=' + ${user} : '/reddit/read-post/' + ${post.id}" th:text="${post.title}"/></td>
        <td><span class="date" th:text="${post.dateOfCreation}"/></td>
    </tr>
</table>

<table id="paging">
    <tr>
        <td th:each="pageNumber : ${pages}">
            <a th:if="${pageNumber} != ${currentPageNumber}" th:href="${user} ? '/reddit?page=' + ${pageNumber} + '&user=' + ${user} : '/reddit?page=' + ${pageNumber}"><span th:text="${pageNumber}"/></a>
            <span th:if="${pageNumber} == ${currentPageNumber}"><span th:text="${pageNumber}"/></span>
        </td>
    </tr>
</table>
</main>
</body>
</html>