<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<main>
    <h1>Todos for today:</h1>
    <div th:replace="fragments :: navBar"/>
    <div th:replace="fragments :: searchBar"/>

    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>

        </tr>
        <tr th:each="assignee:${assigneeList}">
            <td><a th:href="@{'/assignee-todos?id=' + ${assignee.id}}"><span th:text="${assignee.name}"/></a></td>
            <td th:text="${assignee.email}"/>

        </tr>
    </table>
</main>
</body>
</html>