<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Todos for today:</h1>
<div th:replace="fragments :: navBar"/>

<h1>Edit Todo</h1>

<form method="post" action="/edit-todo" th:object="${todo}">

    <input type="hidden" th:field="*{id}">

    <label for="title">Title</label>
    <input type="text" th:field="*{title}">

    <br>

    <label for="urgent">It is urgent</label>
    <input type="checkbox" th:field="*{urgent}"/>

    <br>

    <label for="done">Finished</label>
    <input type="checkbox" th:field="*{done}"/>

    <button type="submit">Edit Todo</button>
</form>
</body>
</html>