<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Todo</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <main>
        <div th:replace="fragments :: navBar"/>
        <div th:replace="fragments :: searchBar"/>

        <h1>New Todo</h1>

        <br>

        <form method="post" action="/new-todo">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">

            <button type="submit">Save Todo</button>
        </form>
    </main>
</body>
</html>