<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1> <a href="/webshop">My Shop</a></h1>

    <hr>
    <div th:replace="fragments :: filterButtons"/>

    <main>
        <br>

            <table>
                <tr>
                    <th id="name-h">Name</th>
                    <th id="description-h">Description</th>
                    <th id="price-h">Price</th>
                    <th id="quantityOfStock-h">Quantity of stock</th>
                </tr>
                <form method="post" th:action="@{/get-item-amount(itemID=${itemToBuy.ID})}" th:object="${itemToBuy}">
                <tr >
                    <td id="name" th:text="*{name}"/>
                    <td id="description" th:text="*{description}"/>
                    <td id="price" th:text="*{price}"/>
                    <td id="quantityOfStock" th:text="*{quantityOfStock}" />
                    <td><input type="number" min="0" th:max="*{quantityOfStock}" th:field="*{amountToBuy}"/>
                    <button type="submit">Buy</button> </td>

                </tr>
        </form>
                <script th:inline="javascript">
                    let x = document.querySelectorAll("#price");
                    for (let i = 0; i < x.length; i++) {
                        let num = Number(x[i].innerHTML)
                            .toLocaleString('en');
                        let currency = /*[[${currentCurrencySign}]]*/;
                        x[i].innerHTML = num + " " + currency;
                    }
                </script>
            </table>
    </main>
</body>
</html>