<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1> <a href="/webshop">My Shop</a></h1>

    <hr>
    <div th:replace="fragments :: filterButtons"/>

    <main>
        <br>

            <table>
                <tr>
                    <th id="name-h">Name</th>
                    <th id="description-h">Description</th>
                    <th id="price-h">Price</th>
                    <th id="quantityOfStock-h">Quantity of stock</th>
                    <th id="amountToBuy-h">Amount to buy</th>
                </tr>

                <tr th:each="item : ${contentOfCart}">

                    <td id="name" name="name" th:text="${item.name}"/>
                    <td id="description" name="description" th:text="${item.description}"/>
                    <td id="price" name="price" th:text="${item.price}"/>
                    <td id="quantityOfStock" name="quantityOfStock" th:text="${item.quantityOfStock}" type="number"/>
                    <td id="amountToBuy" name="amountToBuy" th:text="${item.amountToBuy}"/>

                </tr>

                <script th:inline="javascript">
                    let x = document.querySelectorAll("#price");
                    for (let i = 0; i < x.length; i++) {
                        let num = Number(x[i].innerHTML)
                            .toLocaleString('en');
                        let currency = /*[[${currentCurrencySign}]]*/;
                        x[i].innerHTML = num + " " + currency;
                    }
                </script>
            </table>
    </main>
</body>
</html>