<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1> <a href="/webshop">My Shop</a></h1>

    <hr>
    <div th:replace="fragments :: filterButtons"/>

    <main>
        <br>
        <table>
            <tr>
                <td><div th:replace="fragments :: searchBar"/></td>
                <td><button id="changeCurrency" onclick="location.href='/change-currency'">Change currency</button></td>
            </tr>
        </table>


            <table th:object="${itemList}">
                <tr>
                    <th id="name-h">Name</th>
                    <th id="description-h">Description</th>
                    <th id="price-h">Price</th>
                    <th id="quantityOfStock-h">Quantity of stock</th>
                    <th id="amountToBuy-h">Amount to buy</th>
                </tr>
                <tr th:each="item : ${itemList}">

                    <form method="post" th:action="@{/get-item-amount(itemID=${item.ID})}" th:object="${itemToBuy}">

                    <td id="name" name="name" th:text="${item.name}" type="text"/>
                    <td id="description" name="description" th:text="${item.description}" type="text"/>
                    <td id="price" name="price" th:text="${item.price}" type="number"/>
                    <td id="quantityOfStock" name="quantityOfStock" th:text="${item.quantityOfStock}" type="number"/>
                    <td><input type="number" min="0" th:max="${item.quantityOfStock}" th:field="*{amountToBuy}"/>
                        <button type="submit">Buy</button></td>

                    </form>
                </tr>

                <script th:inline="javascript">
                    let x = document.querySelectorAll("#price");
                    for (let i = 0; i < x.length; i++) {
                        let num = Number(x[i].innerHTML)
                            .toLocaleString('en');
                        let currency = /*[[${currentCurrencySign}]]*/;
                        x[i].innerHTML = num + " " + currency;
                    }
                </script>
            </table>

    </main>
</body>
</html>