<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>
    <h1>My Shop</h1>

    <hr>

    <main>
        <button onclick="location.href='/webshop'">all</button>
        <button onclick="location.href='/only-available'">only available</button>
        <button onclick="location.href='/cheapest-first'">cheapest first</button>
        <button onclick="location.href='/contains-nike'">contains nike</button>
        <button onclick="location.href='/average-stock'">average stock</button>
        <button onclick="location.href='/most-expensive-available'">most expensive available</button>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity of stock</th>
            </tr>
            <tr th:each="item : ${itemList}">
                <td th:text="${item.name}"/>
                <td th:text="${item.description}"/>
                <td th:text="${item.price}" />
                <td th:text="${item.quantityOfStock}" />
            </tr>
        </table>
    </main>
</body>
</html>