<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>My Shop</h1>

    <hr>
    <nav>
        <button onclick="location.href='/webshop'">all</button>
        <button onclick="location.href='/only-available'">only available</button>
        <button onclick="location.href='/cheapest-first'">cheapest first</button>
        <button onclick="location.href='/contains-nike'">contains nike</button>
        <button onclick="location.href='/average-stock'">average stock</button>
        <button onclick="location.href='/most-expensive-available'">most expensive available</button>
    </nav>

    <main>
        <br>

        <form method="post" th:action="@{/search}">
            <input type="text" id="searchword" name="searchword" placeholder="...something like nike">
            <button type="submit">Search</button>
        </form>

        <table>
            <tr>
                <th id="name-h">Name</th>
                <th id="description-h">Description</th>
                <th id="price-h">Price</th>
                <th id="quantityOfStock-h">Quantity of stock</th>
            </tr>
            <tr th:each="item : ${itemList}">
                <td id="name" th:text="${item.name}"/>
                <td id="description" th:text="${item.description}"/>
                <td id="price" th:text="${item.price}" />
                <td id="quantityOfStock" th:text="${item.quantityOfStock}" />
            </tr>
        </table>

    </main>
</body>
</html>